* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

/* side-bar */

.sidebar {
  position: absolute;
  color: #a1a1aa;
  background-color: black;
  display: flex;
  flex-direction: column;
  width: 260px;
  height: 100vh;
}
.sidebar-img {
  text-align: center;
  padding: 40px 0;
}
.sidebar-lists {
  margin-left: 34px;
  /* margin-bottom: 300px; */
}
.sidebar-list {
  display: flex;
  align-items: center;
  gap: 7px;
  font-size: 16px;
  font-weight: 400;
  margin: 32px 0;
}
.sidebar-lower-img {
  margin: auto;
}
.sidebar-logout {
  text-align: center;
  margin-bottom: 32px;
  color: #a1a1aa;
}
.sidebar-flex {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.clr-white {
  color: #a1a1aa;
}

/* main-right */

.main-right {
  /* max-width: 1400px; */
  padding: 20px 24px 20px 24px;
  height: 100vh;
  /* margin: auto; */
  margin-left: 260px;
}
a {
  text-decoration: none;
  color: #68686f;
}
.header-top {
  /* margin: 20px 24px 20px 24px ; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10px;
  width: 100%;
  border: 1px solid #e4e4e7;

  border-radius: 12px;
  /* border: 1px solid green; */
}
.header-top-title {
  font-size: 24px;
  font-weight: 800;
}
.header-top-subt {
  font-size: 18px;
  font-weight: 800;
  color: #ffffff;
  padding: 8px 12px 8px 12px;
  background-color: #18181b;
  border-radius: 6px;
}
.add-search {
  padding: 20px 10px;
  display: flex;
  justify-content: space-between;
  /* border: 1px solid #e4e4e7; */
  border-radius: 12px;
  margin-top: 10px;
}
.add-text {
  padding: 10px 20px;
  background-color: #18181b;
  color: #ffffff;
  border-radius: 6px;
}
.add-search input {
  border-radius: 6px;
  padding-left: 10px;
  border: 1px solid #e4e4e7;
}

/* ticket status */

.ticket-table {
  border: 1px solid #e4e4e7;
  border-radius: 12px;
  padding: 10px;
  margin: 20px 0;
}
table {
  width: 100%;
}
th {
  padding: 15px 0;
}
td {
  padding: 16px 16px 16px 16px;
  font-size: 14px;
  font-weight: 400;
  border-top: 1px solid #e4e4e7;
  color: #52525b;
}
table,
tr {
  /* margin-bottom: 15px; */
  margin-top: 10px;
  /* border: 1px solid red; */
}
.blue {
  color: #2563eb;
  background-color: #eff6ff;
  padding: 8px 12px;
  border-radius: 31px;
  font-size: 12px;
  font-weight: 500;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-right: 10px;
}

.purple {
  color: #9333ea;
  background-color: #faf5ff;
  padding: 8px 12px;
  border-radius: 31px;
  font-size: 12px;
  font-weight: 500;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-right: 10px;
}

/* blur-section */

.blur {
  max-width: 100%;
  backdrop-filter: blur(3px);
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
  position: fixed;
  inset: 0;
}

/* delete-section */

.delete-section {
  height: 249px;
  width: 481px;
  z-index: 2;
  margin: auto;
  inset: 0;
  background-color: #ffffff;
  position: fixed;
  padding: 30px;
  text-align: center;
  border-radius: 12px;
}
.del-icon {
  color: #e11d48;
  font-size: 20px;
  padding: 17px 22px;
  background-color: #fff1f2;
  border-radius: 100px;
}
.del-title {
  font-size: 18px;
  font-weight: 600;
  color: #262626;
  margin-top: 20px;
}
.del-subt {
  font-size: 14px;
  font-weight: 400;
  color: #525252;
  line-height: 150%;
  margin-top: 8px;
}
.cancel-btn {
  padding: 16px;
  font-size: 14px;
  font-weight: 600;
  color: #18181b;
  border: 1px solid #18181b;
  border-radius: 12px;
}
.confirm-btn {
  padding: 16px;
  background-color: #e11d48;
  color: #ffffff;
  border-radius: 12px;
}
.buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
}
.close {
  font-size: 20px;
  position: absolute;
  top: 10px;
  right: 20px;
  color: black;
}
